/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.light-style .menu .app-brand.demo {
  height: 75px;
}

.dark-style .menu .app-brand.demo {
  height: 75px;
}

.app-brand-logo.demo {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
}

.app-brand-logo.demo img {
  width: 30px;
  height: 30px;
}

.app-brand-text.demo {
  font-size: 1.375rem;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 78px !important;
}
/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir="rtl"] .rtl-only {
  display: block !important;
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}
.menu-vertical .menu-inner > .menu-item {
  margin: 0.325rem 0 !important;
}
.dataTables_filter input {
  border: 1px solid #d1d0d4 !important;
  border-radius: 0.375rem !important;
  padding: 8px 12px !important;
  margin-left: 15px !important;
}
.dataTables_filter input:focus {
  border-color: #14a86c !important;
  outline: 0 !important;
  box-shadow: 0 0.125rem 0.375rem 0 rgba(20, 168, 108, 0.3) !important;
}
.dt-buttons,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
  margin: 15px 0;
}
div.dt-buttons > .dt-button,
div.dt-buttons > div.dt-button-split .dt-button {
  padding: 0.4em 1em !important;
  border: 1px solid rgb(20 168 108) !important;
  border-radius: 5px !important;
  background: linear-gradient(to bottom, rgb(227 255 244) 0%, rgb(255 255 255) 100%) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  border-radius: 5px !important;
  border: 1px solid rgb(20 168 108) !important;
  background-color: rgb(20 168 108) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: rgb(20 168 108) !important;
  border-radius: 5px !important;
  border: 1px solid rgb(20 168 108) !important;
  background: rgb(20 168 108) !important;
}

.header {
  background: linear-gradient(to right, #14a86c, #69c8a1);
  padding: 20px;
  border-radius: 20px 20px 0 0;
  text-align: center;
  color: #ffffff;
}
.dashboard {
  background: #ffffff;
  padding: 30px;
  border-radius: 0 0 20px 20px;
}
.grid {
  display: grid;
  gap: 20px;
}
.left-box,
.right-box {
  text-align: center;
}
.today-box {
  background: #01c174;
  border-radius: 20px;
  padding: 15px;
  color: #fff;
}
/* Gauge */
.fuel-gauge {
  width: 150px;
  height: 150px;
  position: relative;
}
.fuel-gauge svg {
  position: absolute;
  inset: 0;
}
.stat-box {
  background: #ffffff;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #d1d1d1;
}

.svg-container {
  position: relative;
  width: fit-content;
}
#speed {
  color: rgb(35, 99, 237);
  font-size: 35px;
  line-height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: 30px;
  z-index: 1;
}
#meter-bg-bar {
  animation: dash 4s linear forwards infinite;
  stroke-dasharray: 615;
}
@keyframes dash {
  0%,
  100% {
    stroke-dashoffset: 615;
  }
  25% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 307.5;
  }
  75% {
    stroke-dashoffset: 0;
  }
}
.select2-selection {
  border: 1px solid #dbdade !important;
  border-radius: 0.375rem !important;
  height: 100% !important;
}
.select2-selection__rendered {
  padding: 0.422rem 0.875rem !important;
  font-size: 0.9375rem 15px !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #6f6b7d;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100% !important;
}
.shadow-one {
  box-shadow: 0 0 0.25rem rgb(160 159 165 / 41%) !important;
}
.table th {
  text-transform: capitalize !important;
  font-size: 0.9125rem !important;
}

table.custom-table > thead > tr > th,
table.custom-table > thead > tr > td {
  padding: 4px !important;
  vertical-align: middle !important;
  line-height: 16px;
}
.custom-table th {
  letter-spacing: 0px !important;
}

table.custom-table tbody th,
table.custom-table tbody td {
  padding: 8px 4px !important;
  color: #313232 !important;
  vertical-align: middle !important;
}
.custom-table > :not(caption) > * > * {
  border-width: 0 1px 1px 1px !important;
}
table.dataTable.custom-table.no-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
table.dataTable.custom-table.no-footer {
  border-bottom: 0px solid rgba(0, 0, 0, 0.3);
}

/* custom-table-sm */
.custom-table-sm th,
.custom-table-sm td {
  font-size: 13px !important;
}
table.custom-table-sm > thead > tr > th,
table.custom-table-sm > thead > tr > td {
  padding: 3px !important;
  vertical-align: middle !important;
  line-height: 16px;
}
.custom-table-sm th {
  letter-spacing: 0px !important;
}

table.custom-table-sm tbody th,
table.custom-table-sm tbody td {
  padding: 8px 3px !important;
  color: #313232 !important;
  vertical-align: middle !important;
}
.custom-table-sm > :not(caption) > * > * {
  border-width: 0 1px 1px 1px !important;
}
table.dataTable.custom-table-sm.no-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
table.dataTable.custom-table-sm.no-footer {
  border-bottom: 0px solid rgba(0, 0, 0, 0.3);
}

/* fuel fuel-gauge  */

.fuel-gauge {
  position: relative;
  width: 100%;
  height: 100%;
}

.fuel-gauge-body {
  width: 200px;
  height: 100px;
  border: 5px solid #75e10e;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom: none;
  position: relative;
  z-index: 1000;
}

.needle {
  width: 5px;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 90px solid red;
  border-radius: 40% 40% 25% 25%; /* Round the bottom of the needle */
  position: absolute;
  bottom: 0;
  left: 47.25%;
  z-index: 2;
  transform-origin: bottom center;
  transform: rotate(90deg);
}

.fuel-gauge-center {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  bottom: -10%;
  left: 49.85%;
  transform: translateX(-50%);
}

.fuel-gauge-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 200px;
}

#fuel-gauge-labels span {
  font-size: 1.2rem;
  font-weight: bold;
}

.fuel-gauge-marker1 {
  width: 8px;
  height: 25px;
  background-color: red;
  position: absolute;
  top: 71%;
  left: 10.5%;
  transform-origin: bottom center;
  z-index: 1;
}

.fuel-gauge-marker5 {
  width: 8px;
  height: 25px;
  background-color: #f9a936;
  position: absolute;
  top: 0%;
  left: 48%;
  transform-origin: bottom center;
  z-index: 1;
}

.fuel-gauge-marker9 {
  width: 8px;
  height: 25px;
  background-color: #f9a936;
  position: absolute;
  top: 71%;
  left: 85.5%;
  transform-origin: bottom center;
  z-index: 1;
}

.fuel-gauge-marker3 {
  width: 5px;
  height: 20px;
  background-color: #f9a936;
  position: absolute;
  top: 24%;
  left: 20%;
  transform-origin: bottom center;
  z-index: 1;
}

.fuel-gauge-marker7 {
  width: 5px;
  height: 20px;
  background-color: #f9a936;
  position: absolute;
  top: 23%;
  left: 77%;
  transform-origin: bottom center;
  z-index: 1;
}

.fuel-gauge-marker2 {
  width: 2px;
  height: 20px;
  background-color: #f9a936;
  position: absolute;
  top: 49%;
  left: 12%;
  transform-origin: bottom center;
  z-index: 1;
}

.fuel-gauge-marker8 {
  width: 2px;
  height: 20px;
  background-color: #f9a936;
  position: absolute;
  top: 49%;
  left: 86.5%;
  transform-origin: bottom center;
  z-index: 1;
}

.fuel-gauge-marker4 {
  width: 2px;
  height: 20px;
  background-color: #f9a936;
  position: absolute;
  top: 6%;
  left: 33%;
  transform-origin: bottom center;
  z-index: 1;
}

.fuel-gauge-marker6 {
  width: 2px;
  height: 20px;
  background-color: #f9a936;
  position: absolute;
  top: 6%;
  left: 65%;
  transform-origin: bottom center;
  z-index: 1;
}

.percentage-display {
  margin-top: -10px;
  width: 200px;
  text-align: center;
}

.authentication-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  width: 100%;
}
.authentication-wrapper .authentication-inner {
  width: 100%;
}
.authentication-wrapper.authentication-basic {
  align-items: center;
  justify-content: center;
}
.authentication-wrapper.authentication-basic .card-body {
  padding: 2rem;
}
.authentication-wrapper.authentication-cover {
  align-items: flex-start;
}
.authentication-wrapper.authentication-cover .authentication-inner {
  height: 100%;
  margin: auto 0;
}
.authentication-wrapper.authentication-cover .authentication-inner .auth-cover-bg {
  width: 100%;
  margin: 2rem 0 2rem 2rem;
  height: calc(100vh - 4rem);
  border-radius: 1.125rem;
  position: relative;
}

.authentication-wrapper.authentication-cover .authentication-inner .platform-bg {
  position: absolute;
  width: 100%;
  bottom: 0%;
  left: 0%;
  height: 35%;
}

.authentication-wrapper.authentication-basic .authentication-inner {
  max-width: 400px;
  position: relative;
}
.authentication-wrapper.authentication-basic .authentication-inner:before {
  width: 238px;
  height: 233px;
  content: " ";
  position: absolute;
  top: -55px;
  left: -40px;
  background-image: url("data:image/svg+xml,%3Csvg width='239' height='234' viewBox='0 0 239 234' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='88.5605' y='0.700195' width='149' height='149' rx='19.5' stroke='%2314a86c91' stroke-opacity='0.16'/%3E%3Crect x='0.621094' y='33.761' width='200' height='200' rx='10' fill='%2314a86c91' fill-opacity='0.08'/%3E%3C/svg%3E%0A");
}
.authentication-wrapper.authentication-basic .authentication-inner:after {
  width: 180px;
  height: 180px;
  content: " ";
  position: absolute;
  z-index: -1;
  bottom: -30px;
  right: -56px;
  background-image: url("data:image/svg+xml,%3Csvg width='181' height='181' viewBox='0 0 181 181' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.30469' y='1.44312' width='178' height='178' rx='19' stroke='%2314a86c91' stroke-opacity='0.16' stroke-width='2' stroke-dasharray='8 8'/%3E%3Crect x='22.8047' y='22.9431' width='135' height='135' rx='10' fill='%2314a86c91' fill-opacity='0.08'/%3E%3C/svg%3E");
}
.authentication-wrapper .auth-input-wrapper .auth-input {
  max-width: 50px;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-size: 150%;
}

@media (max-width: 575.98px) {
  .authentication-wrapper .auth-input-wrapper .auth-input {
    font-size: 1.125rem;
  }
}

.light-style .authentication-wrapper.authentication-bg {
  background-color: #fff;
}
.light-style .auth-cover-bg-color {
  background-color: #f8f7fa;
}

.dark-style .authentication-wrapper.authentication-bg {
  background-color: #2f3349;
}
.dark-style .auth-cover-bg-color {
  background-color: #25293c;
}

.card-bg {
  /* background-image: url(../img/abstract-white-gray.webp); */
  background-image: url(../img/SDF.png);
  background-position: center;
  background-size: cover;
}
.text-moto {
  color: #092d3a;
}
.text-track {
  color: #14a86c;
}
